@import url(./__item/cards__item.css);

.cards__item {
  margin-right: 100px;
  margin-bottom: 60px;
  justify-content: center;
  width: min-content;
  padding-top: 60px;
  text-align: center;
}

.cards__item:nth-child(3){
  margin-right:0;
}

.cards__item:last-of-type {
  margin-right: 100px;
}

.cards__item:nth-child(5) {
  margin-bottom: 0;
}